<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <!-- show which users have already answered -->
        <div class="card">
          <div class="card-content">
            <table class="table is-striped is-hoverable is-fullwidth">
              <thead>
                <tr>
                  <th>Players already answered</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Gustav</td>
                </tr>
                <tr>
                  <td>Thim</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="column is-10">
        <!-- show the current question and possible answers -->
        <div class="card">
          <div class="card-header">
            <div class="card-header-title is-centered">
              <h1 class="title is-1">Question</h1>
            </div>
          </div>
          <div class="card-content">
              <div class="card clickable">
                <div class="card-content">
                  <div class="container">
                    <h1 class="subtitle is-5">Answer 1</h1>
                  </div>
                </div>
            </div>
            <br>
            <div class="card clickable">
              <div class="card-content">
                  <h1 class="subtitle is-5">Answer 2</h1>
              </div>
          </div>
          <br>
          <div class="card clickable">
            <div class="card-content">
              <div class="container">
              <h1 class="subtitle is-5">Answer 3</h1>
              </div>
            </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
