<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-2" ng-hide="infoWindow" ng-model="infoWindow" >
        <div class="tile is-parent">
          <article class="tile is-child notification is-primary">
            <p class="title">{{playerInfo}}</p>
            <div class="content">
              <table class="table is-striped">
                <tbody>
                  <tr ng-repeat="res in results">
                    <td>{{res.user}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </article>
        </div>
      </div>
      <div class="tile is-parent ui-view">
      </div>
    </div>
  </div>
</section>
