<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <!-- show which users have already answered -->
        <div class="card">
          <div class="card-content">
            <table class="table is-striped">
              <thead>
                <tr>
                  <th>Player</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Gustav</td>
                </tr>
                <tr>
                  <td>Thim</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="column is-10">
        <!-- show the current question and possible answers -->
        <div class="card">
          <div class="card-content">
            <div class="container">
              Question
            </div>
            <div class="container">
              <ol>
                <li>Answer 1</li>
                <li>Answer 2</li>
                <li>Answer 3</li>
                <li>Answer 4</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
