html, body
{
  margin: 0;
  padding: 0;
  border: 0;

}
#nav{
  background-color: white;
}
#outsideHero{
  background-color: #F0A878;
}
#insideHero{
  background-color: #90C0D8;
}
.clickable:hover{
  cursor: pointer;
  background-color: #e6f2ff;
}
.flex-container{
  display: flex;
  flex-direction: column;
}
#playCard{
  background-color: #00d1b1;
  color: white;
  min-width: 100%;
  min-height: 100%;
  font-size: 400%;
  border-radius: 20px;
  text-decoration: none;
}
#playCard:hover{
  cursor: pointer;
  background-color: #00b398;
}
#playCardChosen{
  background-color: darkgrey;
  color: white;
  min-width: 100%;
  min-height: 100%;
  font-size: 400%;
  border-radius: 20px;
  text-decoration: none;
}
#playCardNotChosen{
  background-color: lightgrey;
  color: white;
  min-width: 100%;
  min-height: 100%;
  font-size: 400%;
  border-radius: 20px;
  text-decoration: none;
}
