<section class="section">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <h1 class="title">Let's get your quiz on!</h1>
        Welcome to Quiz Quest! This is a quiz game for you and your friends that will challange your knowledge but also your speed.
        Just login, if you are already a member, or register, if you are new to the game.
        <br>
        <br> The game is simple. You will choose a quiz, wait for your friends to join the quiz, and then it's all about knowledge and speed. You will be presented with a question and four possible answers. The challange is to choose the right answer
        as fast as possible. The faster your are, the more points you get.
        <h2 class="subtitle is-3">Good Luck!</h2>
        <div class="columns">
            <div class="column is-6 is-offset-3">
              <figure class="image is-square">
            <img src="../../../shared/logo_embedded.svg">
          </figure>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
