<nav id="nav" class="navbar is-light is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" ng-click="activate('home')" ui-sref="app.outside.navbar.home">
        <img src="../../../shared/logo_embedded.svg" width="48" height="48" alt="QQ">
      </a>
      <span class="navbar-burger burger" data-target="navbarMenuHeroB">
        <span></span>
      <span></span>
      <span></span>
      </span>
    </div>
    <div id="navbarMenuHeroB" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item {{home}}" ng-click="activate('home')" ui-sref="app.outside.navbar.home">
          Home
        </a>
        <a class="navbar-item {{login}}" ng-click="activate('login')" ui-sref="app.outside.navbar.login">
          Login
        </a>
        <a class="navbar-item {{register}}" ng-click="activate('register')" ui-sref="app.outside.navbar.register">
          Register
        </a>
      </div>
    </div>
  </div>
</nav>
<section id="outsideHero" class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <ui-view/>
    </div>
  </div>
</section>
